body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    background-color: #DFEEEA;
    font-family: 'Chalkboard SE', serif;
    text-align: center
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    width: 30%;
    color: #2F5D62;
    position:fixed;
    left: 20px;
    background: white;
    border-radius: 25vh;
    background-position: center;
    z-index: 10;

}

section {
    display: none;
    text-align: justify;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px
}

img {
    max-width:100%;
    max-height:100%;
    border-radius: 3vh;
}

img#profilePhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    animation: introLoad 2s;
    padding: 3em;
}


.close {

    float: right;
    margin: 2em;
    width: 2em;
}

nav {
    position: fixed;
    right: 0px;
    top: 0px;
    background: white;
    height: 100vh;
    width: 25vh;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

ul {
    padding: 0;
    list-style-type: none;
    margin-top:6em;
    margin-bottom: 6em;
}

li {
    padding: 10px;
    background: url('blob.svg');
    background-position: left;
    background-size: 0%;
    background-repeat: no-repeat
}

.flex-details {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 4px solid #2F5D62;
    padding: none;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 3vh ;
    vertical-align: bottom;
}  

.flex-child-detail {
    flex: 1;
    border: 4px solid #2F5D62;
    padding: 1vh;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 3vh ;
    vertical-align: bottom;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

li:hover {
    background: url('blob white.svg');
    background-position: center;
    background-size: 230%;
    background-repeat: no-repeat
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.open-nav {
    transform: translateX(0);
}

a {
    text-decoration: none;
}

@media (min-width:600px) {
    nav {
        transform: translateX(0);
        display:inline-block;
        width: 100%;
        position: unset;
        background: none;
        height: 30%;
    }

    .close {
        display: none
    }

    .menu {
        display: none
    }


    ul {
        display: flex;
    }

    li {
        margin: 3em;
        flex: 1;
        background-size: 230%;
        background-position: center;
    }

}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 24%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}